@media (min-width: 320px) and (max-width: 599px) {
  .container {
    width: 100%;
  }
  .separate-line {
    margin: 2em 0;
  }
  .header {
    height: 100%;
  }
  .header .header__top {
    height: 6em;
    padding-top: 2em;
  }
  .header .header__top .header__logo {
    margin-left: 3em;
  }
  .header .header__top .header__top-content {
    width: 48%;
  }
  .header .header__top .header__top-content .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1em;
  }
  .header .header__top .header__top-content .header__nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -0.5em 0.5em 0 3em;
    font-size: 29px;
  }
  .header .header__top .header__top-content .header__nav-link {
    display: none;
    margin: 2% 0.5em;
  }
  .header .header__top .header__top-content .header__nav-hide {
    display: none;
    margin: -0.6em 0.5em 0 3em;
    font-size: 31px;
  }
  .header .header__top .header__top-content .lang-switcher {
    display: none;
  }
  .header .header__bottom {
    background-image: none;
    padding: 5%;
    margin-bottom: 2em;
  }
  .header .header__bottom .header__bottom-play {
    display: none;
  }
  .header .header__bottom .header__item-title {
    font-size: 25px;
  }
  .header .header__bottom .header__bottom-button {
    padding: 4% 5% 4% 15%;
    margin-bottom: 2em;
  }
  .header .header__bottom .header__bottom-button .button-icon {
    top: 12%;
    left: 8%;
  }
  .service-price .section__item-title {
    font-size: 20px;
  }
  .service-price .service-price__top-content {
    font-size: 12px;
    width: auto;
  }
  .service-price .service-price__bottom {
    width: 90%;
    margin: 0 auto;
  }
  .service-price .service-price__bottom .service-price__first,
  .service-price .service-price__bottom .service-price__last {
    margin: 4%;
  }
  .service-price .service-price__bottom .service-price__first .service-price__bottom-content,
  .service-price .service-price__bottom .service-price__last .service-price__bottom-content {
    width: 90%;
    font-size: 12px;
    margin-bottom: 8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5%;
  }
  .service-price .service-price__bottom .service-price__first .service-price__bottom-content .first-title,
  .service-price .service-price__bottom .service-price__last .service-price__bottom-content .first-title {
    max-width: 65%;
  }
  .service-price .service-price__bottom .service-price__first .service-price__bottom-content .service-price__list,
  .service-price .service-price__bottom .service-price__last .service-price__bottom-content .service-price__list,
  .service-price .service-price__bottom .service-price__first .service-price__bottom-content p,
  .service-price .service-price__bottom .service-price__last .service-price__bottom-content p {
    display: none;
  }
  .service-price .service-price__bottom .service-price__first .service-price__bottom-border,
  .service-price .service-price__bottom .service-price__last .service-price__bottom-border {
    padding-left: 5%;
  }
  .service-price .service-price__bottom .service-price__first .service-price__bottom-description,
  .service-price .service-price__bottom .service-price__last .service-price__bottom-description {
    max-width: 100%;
  }
  .service-price .service-price__bottom .service-price__last {
    margin-bottom: 0;
  }
  .service-price .service-price__content-title {
    font-size: 11px;
  }
  .service-price .info-icon {
    display: none;
  }
  .reviews .reviews__top {
    margin-bottom: 1%;
  }
  .reviews .section__item-title {
    font-size: 20px;
  }
  .reviews .reviews__item-content {
    font-size: 13px;
  }
  .reviews .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews .reviews__content .reviews__content-item {
    width: auto;
    text-align: center;
    margin-top: 7%;
  }
  .reviews .reviews__content .reviews__content-item .reviews__pic {
    margin: 0 auto;
  }
  .reviews .reviews__content .reviews__content-item .reviews__content-description {
    font-size: 12px;
    margin: 2% 0;
  }
  .reviews .reviews__content .reviews__content-item .reviews__video {
    width: auto;
    height: 56vh;
    background-position: 56% 7%;
    margin: 4% 8%;
    background-repeat: no-repeat;
  }
  .reviews .reviews__content .reviews__content-item .reviews__content-bottom {
    margin-top: 3%;
  }
  .reviews .reviews__content .reviews__content-item .reviews__content-bottom .reviews__name {
    margin-bottom: 1%;
  }
  .reviews > .reviews__bottom .refresh-icon {
    padding-right: 2%;
    position: relative;
    left: 0;
  }
  .request .section__item-title {
    font-size: 20px;
  }
  .request .request__form {
    max-width: 90%;
  }
  .request .request__form .request__form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .request .request__form .request__form-left .request__form-input,
  .request .request__form .request__form-left .request__form-select {
    width: 100%;
  }
  .request .request__form .request__form-left .select-name {
    width: auto;
  }
  .request .request__form .request__form-left .select-name .arrow {
    width: 89.5%;
  }
  .request .request__form .request__form-right {
    margin-top: 9%;
    width: 100%;
  }
  .request .request__form .request__form-right textarea {
    width: auto;
    margin: 4% auto;
    height: 6em;
  }
  .request li {
    font-size: 11px;
  }
  .request .request__form-submit {
    padding: 3% 9% 3% 9%;
  }
  .footer .address,
  .footer .phone,
  .footer .mail {
    font-size: 13px;
  }
  .footer .footer__social-links {
    margin: 10%;
  }
  .footer .footer__social-links .link {
    margin-right: 3%;
  }
  .footer .footer__social-links .link:nth-child(3) {
    margin-right: 0;
  }
}
